<div class="portfolio">
    <div class="text">
    <span class="introducion_text animate__animated animate__fadeInDown">Askme Question</span>
    <h2 class="title_contact animate__animated animate__fadeInLeft">Contacteme</h2>
</div>
    <div class="container_portfolio">
    
        <div class="videos mx-auto mb-5">
            <div>
                <iframe src="https://www.youtube.com/embed/qsEyGIToTTc?si=1_t7mJECb16zWxoE" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                    <div class="flex justify-between">
                        <a href="https://github.com/rodrigo24291/recetaslaravel"class="link"><i class="fab fa-github" ></i> Github</a>
                        
                    </div>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/EmIKGSHmiI0?si=9zCrugr_GI8MESXQ" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                    <div class="flex justify-between ">

                        <a href="https://github.com/rodrigo24291/coffe-app"class="link"><i class="fab fa-github" ></i> Github</a>
                        
                    </div>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/iE_EyZ32c0o?si=FQ_kuUVu96pyg0BZ" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                    <div class="flex justify-between">

                        <a href="https://github.com/rodrigo24291/laravel-insta"class="link"><i class="fab fa-github" ></i> Github</a>
                        
                    </div>
            </div>

            <div class="about_image">
                <img src="assets/abogadoscordoba.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://abogadoscordobas.com/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    
                </div>
            </div>


            <div class="about_image">
                <img src="assets/appheroe.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://rodrigo24291.github.io/heroe-app-react/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/heroe-app-react"class="link"><i class="fab fa-github" ></i> Github</a>
                    
                </div>
            </div>


            <div class="about_image">
                <img src="assets/blackjack.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://rodrigo24291.github.io/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/rodrigo24291.github.io"class="link"><i class="fab fa-github" ></i> Github</a>
                    
                </div>
            </div>


            <div class="about_image">
                <img src="assets/cortinascordoba.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://cortinascordoba.ar/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
 
                </div>
            </div>

            
            <div class="about_image">
                <img src="assets/ladingpage2.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://rodrigo24291.github.io/portfolio2/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/portfolio2"class="link"><i class="fab fa-github" ></i> Github</a>
                    
                </div>
            </div>

            <div class="about_image">
                <img src="assets/reparacioncortinas 1.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://reparacioncortinasmetalicas.ar/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    
                </div>
            </div>

            <div class="about_image">
                <img src="assets/cotizaseguro.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://rodrigo24291.github.io/cotizar-seguro/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/cotizar-seguro"class="link"><i class="fab fa-github" ></i> Github</a>
                    
                </div>
            </div>

            <div class="about_image">
                <img src="assets/gastossemanalreact.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://rodrigo24291.github.io/climareact/"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/climareact"class="link"><i class="fab fa-github" ></i> Github</a>
                    
                </div>
            </div>

            
            <div class="about_image">
                <img src="assets/climareact.png" alt="">
                <div class="flex justify-between web">

                    <a href="https://github.com/rodrigo24291/climareact"class="link"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/app-clima-react-api"class="link"><i class="fab fa-github" ></i> Github</a>
                    
                </div>
            </div>
            
        </div>

    </div>

</div>