<div class="portfolio">
    <div class="text">
        <span class="introducion_text animate__animated animate__fadeInDown"> My Projects</span>
        <h2 class="title_contact animate__animated animate__fadeInLeft">Projects</h2>
    </div>



    <div class="container_portfolio">

        <div class="videos mx-auto mb-5">
            
            <p-card header="Laravel Photo" class=" animate__animated animate__fadeInUp" [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/laravelphoto.png" />
                </ng-template>
                <p>
                    Aplicacion monolitica realizada en laravel que simula algunas funciones de instagram
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://www.youtube.com/watch?v=iE_EyZ32c0o&t=50s" class="bt mb-2"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/laravel-insta" class="bt"><i class="fab fa-github"></i>
                        Github</a>
                    </div>
                </ng-template>
            </p-card>

            <p-card header="Laravel Recetas" class=" animate__animated animate__fadeInUp" [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/laravelrecetas.png" />
                </ng-template>
                <p>
                    Aplicacion monolitica realizada en laravel que simula un blog de recetas
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://www.youtube.com/watch?v=qsEyGIToTTc&t=18s" class="mb-2 bt"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/recetaslaravel" class="bt"><i class="fab fa-github"></i>
                        Github</a>
                    </div>
                </ng-template>
            </p-card>

            <p-card header="Laravel-Restaurant" class=" animate__animated animate__fadeInUp"  [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/laravelappventa.png" />
                </ng-template>
                <p>
                    Aplicacion realizada en laravel y angular, mediante conexion rest-api.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://www.youtube.com/watch?v=EmIKGSHmiI0" class="bt mb-2"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/coffe-app" class="bt"><i class="fab fa-github"></i>
                        Github</a>
                    </div>
                </ng-template>
            </p-card>



            <p-card header="Heroe-App" class=" animate__animated animate__fadeInUp" [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/appheroe.png" />
                </ng-template>
                <p>
                    Aplicacion de heroe realizada en react
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://rodrigo24291.github.io/heroe-app-react/" class="bt mb-2"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/heroe-app-react" class="bt"><i class="fab fa-github"></i>
                        Github</a>
                    </div>
                </ng-template>
            </p-card>


            <p-card header="Blackjack-App"  [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/blackjack.png" />
                </ng-template>
                <p>
Aplicacion realizada en js css y html
                </p>
                <ng-template pTemplate="footer">

                    <div class="flex flex-col">
                    <a href="https://rodrigo24291.github.io/" class="bt mb-2"><i class="fa-solid fa-globe"></i>Entrar al
                        sitio</a>
                    <a href="https://github.com/rodrigo24291/rodrigo24291.github.io" class="bt"><i
                            class="fab fa-github"></i> Github</a>
                    </div>
                </ng-template>
            </p-card>


            <p-card header="Cortinas Cordoba" [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/cortinascordoba.png" />
                </ng-template>
                <p>
                    Pagina web realizada en wordpress
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://cortinascordoba.ar/" class="bt "><i class="fa-solid fa-globe"></i>Entrar al
                        sitio</a>
                    </div>
                </ng-template>
            </p-card>

            
            <p-card header="Abogados Cordoba" [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/abogadoscordoba.png" />
                </ng-template>
                <p>
                    Pagina web realizada en wordpress
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://cortinascordoba.ar/" class="bt "><i class="fa-solid fa-globe"></i>Entrar al
                        sitio</a>
                    </div>
                </ng-template>
            </p-card>


            <p-card header="Web"  [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/ladingpage2.png" />
                </ng-template>
                <p style="background-color: #250821;">
                    Pagina web Realizada con html,css y js
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://rodrigo24291.github.io/portfolio2/" class="bt mb-2"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/portfolio2" class="bt"><i class="fab fa-github"></i>
                        Github</a>
                    </div>
                </ng-template>
            </p-card>





            <p-card header="Cortinas Oliveri"  [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/reparacioncortinas 1.png" />
                </ng-template>
                <p>
                    Pagina web realizada con wordpress
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex flex-col">
                    <a href="https://reparacioncortinasmetalicas.ar/" class="bt"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
</div>
                </ng-template>
            </p-card>



            <p-card header="Seguro React"  [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/cotizaseguro.png" />
                </ng-template>
                <p>
                    App realizada con react
                </p>
                <ng-template pTemplate="footer">

                    <div class="flex flex-col">
                    <a href="https://rodrigo24291.github.io/cotizar-seguro/" class="bt mb-2"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/cotizar-seguro" class="bt"><i class="fab fa-github"></i>
                        Github</a>
                    </div>
                </ng-template>
            </p-card>


            <p-card header="App Gasto"  [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/gastossemanalreact.png" />
                </ng-template>
                <p>
                    App realizada en react
                </p>
                <ng-template pTemplate="footer">

<div class="flex flex-col">
                    <a href="https://rodrigo24291.github.io/climareact/" class="bt mb-2"><i
                            class="fa-solid fa-globe"></i>Entrar al sitio</a>
                    <a href="https://github.com/rodrigo24291/climareact" class="bt"><i class="fab fa-github"></i>
                        Github</a>
                    </div>

                </ng-template>
            </p-card>



            <p-card header="Clima React"  [style]="{ 'width': '100%', 'background-color': '#250821','color':'white'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/climareact.png" />
                </ng-template>
                <p>
                    App realizda en react
                </p>
                <ng-template pTemplate="footer" class="flex flex-cols">


                    <div class="flex flex-col mb-3" style="width: 100%;">
                        <a href="https://github.com/rodrigo24291/climareact" class="bt"><i class="fa-solid fa-globe"></i>Entrar al sitio</a>
                      </div>
                      <div class="flex-col">
                        <a href="https://github.com/rodrigo24291/app-clima-react-api" class="bt"><i class="fab fa-github"></i> Github</a>
                      </div>
                </ng-template>
            </p-card>


        </div>

    </div>

</div>