<section class="contact" style="padding-top: 4rem;">
    <div class="container_contact">
    <span class="introducion_text animate__animated animate__fadeInDown">Askme Question</span>
    <h2 class="title_contact animate__animated animate__fadeInLeft">Contacteme</h2>

    <form class="form flex flex-col justify-between	animate__animated animate__fadeInUp">
        <div class="mb-4 ">
          <input type="text"  id="nombre" name="nombre" class="w-full h-12" placeholder="Nombre">
        </div>
        
        <div class="mb-4">
          <input type="email" id="email" name="email" class="w-full h-12 "  placeholder="Email">
        </div>
        
        <div class="mb-4">

          <input type="tel" id="telefono" name="telefono" class="w-full h-12"  placeholder="Teléfono">
        </div>
        
        <div class="mb-4">
          <textarea id="mensaje" name="mensaje"  class="w-full h-80 border-2" placeholder="Mensaje"></textarea>
        </div>
        
        <button type="submit" class=" buton_send text-white px-4 rounded border  rounded-md ">Enviar Mensaje</button>
      </form>
      
</div>
</section>
