
<div class="about">
<div class="container_about">

    <div class="about_image">
<img src="assets/about-me-pic2.png" alt="">
    </div>

    <div class="about_text animate__animated animate__rollIn">
        <p class="introducion_text">Una introcuccion acerca de mi</p>
        <h2 class="title_about"> Acerca de mi</h2>
        <p class="text_complete">
            Soy un apasionado aspirante a desarrollador Full Stack con una fuerte motivación para aprender y crecer en el campo de la tecnología web.
            A través de mi portafolio, podrás explorar los proyectos en los que he trabajado, ver mi progreso y observar mi evolución como desarrollador. Estoy comprometido a mejorar constantemente y estoy emocionado por las oportunidades futuras para colaborar en proyectos inspiradores.
        </p>
        <a routerLink="/contact" class="bt">
            Conctactame</a>
    </div>
</div>

</div>