<div class="skill ">
    <div class=" flex  flex-col items-center" style="padding-top: 8rem; ">
        <span class="introducion_text animate__animated animate__fadeInDown">Tecnica y Profesionalismo</span>
        <h2 class="title_contact animate__animated animate__fadeInLeft ">MY SKILL</h2>
    
    </div>
 
<div class="grid grid-cols-2 md:grid-cols-4 container mx-auto gap-4 pb-14"  >
    <div class="card c1">
        <div class="icon">
            <i class="fab fa-html5"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>HTML5</h3>

        </div>
    </div>

    <div class="card c2">
        <div class="icon">
            <i class="fab fa-css3"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>CSS3</h3>

        </div>
    </div>


    <div class="card c3">
        <div class="icon">
            <i class="fab fa-js-square"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>JAVASCRIPT</h3>

        </div>
    </div>



    <div class="card c4">
        <div class="icon">
            <i class="fab fa-angular"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>ANGULAR</h3>

        </div>
    </div>
    <div class="card c5">
        <div class="icon">
            <i class="fas fa-database"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>MYSQL</h3>

        </div>
    </div>

    <div class="card c6">
        <div class="icon">
            <i class="fab fa-wordpress"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>WORDPRESS</h3>

        </div>
    </div>

    <div class="card c7">
        <div class="icon">
            <i class="fab fa-php"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>PHP</h3>

        </div>
    </div>


    <div class="card c1">
        <div class="icon">
            <i class="fab fa-laravel"></i>
        </div>
        <div class="info__description flex justify-center items-center text-2xl">
            <h3>LARAVEL</h3>

        </div>
    </div>
</div>
</div>