*{
    text-decoration: none !important;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box !important;
    scroll-behavior: smooth;
    list-style: none;
    font-family: "Monda", sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

::-webkit-scrollbar{
    height: .1rem;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background-color: #bb67ff;
}

::-webkit-scrollbar-thumb{
    
    background-color: #250821;
    border-radius: 5rem;
    border: 3px solid #12f7ff; 
}

:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --second-bg-color:#292e33;
    --big-font:2.5rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font:2rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3); 
}




section{background-color: #250821 ;
color: #12f7ff;
overflow-x: hidden;
}

.menu-icon{
    border-radius: 0.4rem;
    background-color: #12f7ff;
    color: #292e33;
    cursor: pointer;
    display: none;
}
.menu-icon i{
    font-size: 26px;
    font-weight: 700;
}
.logo{
    letter-spacing: 0.3rem;
}
span{
    color: #12f7ff ;
}
.logo span{
   
    letter-spacing: 0.3rem;
}

.home{
    

    min-height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
position: relative;
}

.home-content{
    padding-top: 6rem;
    width: 50%;
}

.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media only screen and (max-width: 1028px)  {
    .home-content {
        
        width: 80%;
      }

      .home{
        flex-direction: column;
      }
  }
.home-content h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.change-text{
    
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.change-text h3{
    

}

.home-content p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color:#bdbdbd;
    line-height: 1.6;
}

.info-boxs{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 720px)  {
    .info-boxs {
        flex-direction: column;
      }
  }

.email-info{
    display: flex;
    flex-direction: column;
}



.btn-box{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 100% ;
    height: 5rem;

}


@media only screen and (max-width: 720px)  {
    .btn-box {
        flex-direction: column;
      }
  }

.btn-box .bt{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background: #12f7ff;
    color: #250821;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3); ;
    border-radius: 5px;
    position: relative;
    z-index: 1;

}

 .bt::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:#250821;
    width: 0;
    height: 0%;
    z-index: -1;
    border-radius: 5px;
    transition: .8s;
}
.btn-box .bt:hover{
    color: #12f7ff;
}

 .bt:hover::before{
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 720px)  {
    .bt {
        margin-top: 2rem;
        width: 100% !important;
      }
  }

.home_image{
    position: relative;
   
}
@media only screen and (max-width: 1028px)  {
    .home_image {
        width: 80%;
        margin-top: 10rem;
      }
  }
.home_image img{
    position: absolute;
    top:-15%;  
    z-index: 2;
width: 100%;
max-width: 650px;
height: auto;
}

.liquid-shape{
    width: 100%;
    height: 100%;
    z-index: -1;
   
}

.liquid-shape:nth-child(2){
    filter: blur(5px);

}

.marquesina{
    position: absolute;
    bottom:8% ;
    left: 0;
    animation-name: move;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes move{
    0%{
        left: -120%;
    }

    100%{
        left: 100%;
    }
}

.marquesina h3{
    font-size: 5rem;
    opacity: 0.2;
    white-space: nowrap;

}
