<nav class="nav-xl">
        <div class="logo animate__animated animate__rollIn flex  justify-center items-center">RODRIGO
        </div>

        <ul class="navlist ">
                <li class="animate__animated animate__fadeInUp cursor-pointer"><a class="btn" routerLink="/home" >
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Home</a>
                </li>
                <li class="animate__animated animate__fadeInUp animate__delay-1s cursor-pointer"><a class="btn" routerLink="/about">
                                <span></span><span></span><span></span><span></span>
                                About
                        </a></li>
                <li class="animate__animated animate__fadeInUp animate__delay-2s"><a class="btn" routerLink="/skill">
                                <span></span><span></span><span></span><span></span>
                                Skill</a></li>
                <li class="animate__animated animate__fadeInUp animate__delay-3s mr-4"><a class="btn" routerLink="/project">
                                <span></span><span></span><span></span><span></span>
                                Projects</a></li>
                <li class="animate__animated animate__fadeInUp animate__delay-4s"><a class="btn btn-contact"
                        routerLink="/contact">
                                <span></span><span></span><span></span><span></span>
                                Contact</a></li>
        </ul>

</nav>

<nav class="mobil h-14 transition-all duration-500 delay-150">
        <div class="flex justify-around w-full items-center">
                <a class="logo animate__animated animate__rollIn ">RODRIGO
                </a>
                <div (click)="showMenu()" class="menu-icon ">
                        <i class='pi pi-bars'></i>
                </div>
        </div>

        <ul class="navlist-mobil">
                <li class="animate__animated animate__fadeInUp "><a class="btn" href="#home">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Home</a>
                </li>
                <li class="animate__animated animate__fadeInUp animate__delay-1s"><a class="btn" routerLink="/about">
                                <span></span><span></span><span></span><span></span>
                                About
                        </a></li>
                <li class="animate__animated animate__fadeInUp animate__delay-2s"><a class="btn" routerLink="/skill">
                                <span></span><span></span><span></span><span></span>
                                Skill</a></li>
                <li class="animate__animated animate__fadeInUp animate__delay-3s"><a class="btn" routerLink="/project">
                                <span></span><span></span><span></span><span></span>
                                Projects</a></li>
                <li class="animate__animated animate__fadeInUp animate__delay-4s"><a class="btn btn-contact"
                        routerLink="/contact">
                                <span></span><span></span><span></span><span></span>
                                Contact</a></li>
        </ul>
</nav>